<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> <!-- 부트스트랩은 jQuery에 의존하므로 뒤에 작성 -->

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>